.divider {
    background: $primary;
    height: 10px;
}

.promo {
    font-size: 2rem;
    line-height: 1.5;

    &--simple {
        background: url(/images/todos.png);
        background-position: 100% 100%;
        background-repeat: no-repeat;
        background-size: 100% auto;

        @media (max-width: 399px) {
            padding-bottom: 60vw;
        }

        @media (min-width: 400px) {
            background-size: 400px auto;

            @media (max-width: 679px) {
                padding-bottom: 240px;
            }
        }

        @media (min-width: 680px) {
            background-size: 300px auto;
            
            .container {
                padding-right: 40vw;

                @media (min-width: 1080px) {
                    padding-right: 300px;
                }
            }
        }

        @media (min-width: 1260px) {
            background-size: 400px auto;
            padding-bottom: 100px;
            padding-top: 100px;
        }
    }

    &--due {
        background: url(/images/duedates.png);
        background-position: 0 100%;
        background-repeat: no-repeat;
        background-size: 100% auto;

        @media (max-width: 399px) {
            padding-bottom: 50vw;
        }

        @media (min-width: 400px) {
            background-size: 400px auto;

            @media (max-width: 679px) {
                padding-bottom: 190px;
            }
        }

        @media (min-width: 680px) {
            background-size: 300px auto;
            background-position: 0 50%;

            .container {
                padding-left: 45vw;

                @media (min-width: 1080px) {
                    padding-left: 300px;
                }
            }
        }

        @media (min-width: 1260px) {
            background-size: 400px auto;
            padding-bottom: 100px;
            padding-top: 100px;

            .container {
                padding-left: 450px;
            }
        }
    }

    // &--offline {
    //     background: yellow;
    // }
}

.cta {
    background: $blue;
    color: #fff;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;

    &__button {
        margin-top: 1rem;
    }

    @media (min-width: 640px) {
        .container {
            align-items: center;
            display: flex;
            justify-content: space-between;
            text-align: left;
        }

        &__button {
            margin-top: 0;
        }
    }

    @media (min-width: 800px) {
        font-size: 3.5rem;

        &__button.is-large {
            font-size: 2rem;
        }

        .container {
            max-width: 800px !important;
        }
    }
}

.footer h2 {
    text-align: center;
}

.footer .columns {
    align-items: center;
}

.signature {
    text-transform: uppercase;
    width: 135px;
    margin: 0 auto;

    &__made,
    &__heart {
        display: block;
        font-size: 1.2em;
        letter-spacing: .1em;
        word-spacing: .6em;
    }

    &__heart {
        margin-right: 2px;
        padding-left: 2px;
        position: relative;
        text-align: center;

        &::after,
        &::before {
            content: "";
            display: block;
            background-color: #333;
            width: 42px;
            height: 2px;
            position: absolute;
            top: 12px;
        }
        &::before {
            left: 0;
        }
        &::after {
            right: 0;
        }
    }

    i {
        margin-top: 4px;
    }

    a {
        color: $blue;

        &:hover,
        &:focus,
        &:active {
            color: $text;
            text-decoration: underline;
        }
    }
}