@import "node_modules/bulma/bulma";
@import "node_modules/font-awesome/scss/font-awesome";

.is-link {
    text-decoration-skip: ink;
}

.flex-right {
    margin-left: auto;
}

.todo {
    align-items: center;
    display: flex;
    height: 2.25em;
    margin-bottom: 1em;

    &--name {
        padding-top: 1px;
        padding-left: calc(0.625em);
    }

    &--checkbox {
        display: none;
    }

    &.completed {
        color: #aaa;
        .todo--name {
            text-decoration: line-through;
        }
    }

    .fa {
        margin-right: 0.5em;
        text-decoration: none;
    }
    .fa-square-o {
        padding-right: 3px;
    }
}