@import "node_modules/bulma/bulma";
@import "node_modules/font-awesome/scss/font-awesome";

.is-link {
    text-decoration-skip: ink;
}

span.is-info {
    color: $info;
}

span.is-danger {
    color: $danger;
}

.flex-right {
    margin-left: auto;
}

.todo {
    align-items: center;
    display: flex;
    margin-bottom: 1em;

    &__checkbox {
        display: none;
    }

    .checkbox {
        margin-top: 3px;
        text-decoration: none;
    }
    .checkbox.fa-square-o {
        padding-right: 3px;
    }

    &__name {
        margin-right: auto;
        padding-left: .625em;
        padding-top: 1px;
    }

    &__name-edit {
        flex-grow: 1;
        margin-right: 1rem;
        &-textfield {
            flex-grow: 1;
        }
        &:not(:last-child) {
            margin-bottom: 0;
        }
    }

    &__due {
        align-items: center;
        display: flex;
        flex-shrink: 0;
        line-height: 1;
        margin: 0 1em;

        .remove {
            color: $danger;
        }
        .cancel {
            margin-left: .75em;
        }
        .save {
            margin: 0 1em 0 .75em;
        }
        .cancel, .save {
            color: $grey-dark;
        }

        input {
            border-radius: 3px;
        }
    }

    &__actions {
        flex-shrink: 0;
        .is-loading {
            background: transparent !important;
        }
    }

    &__edit-button {
        margin-right: 1rem;
    }

    &.completed {
        color: #aaa;
        .todo__name,
        .todo__due {
            color: #aaa;
        }
        .todo__date {
            text-decoration: line-through;
        }
    }

    &--skeleton {
        background-repeat: no-repeat;
        background-image:
            /* checkbox */
            linear-gradient(#777 17px, transparent 0),
            /* name */
            linear-gradient(#777 17px, transparent 0),
            /* clock */
            radial-gradient(circle 9px, #777 100%, transparent 0),
            /* edit button */
            linear-gradient($primary 36px, transparent 0),
            /* delete button */
            linear-gradient($danger 36px, transparent 0);
        background-size:
            17px 17px,
            200px 17px,
            18px 18px,
            36px 36px,
            36px 36px;
        background-position:
            2px 9px,
            35px 9px,
            calc(100% - 107.5px) 8.5px,
            calc(100% - 52px) 0,
            calc(100%) 0;
    }
}