@import "node_modules/bulma/bulma";
@import "node_modules/font-awesome/scss/font-awesome";

.is-link {
    text-decoration-skip: ink;
}

.flex-right {
    margin-left: auto;
}

.todo {
    align-items: center;
    display: flex;
    height: 2.25em;
    margin-bottom: 1em;

    &--checkbox {
        display: none;

        .fa {
            margin-right: 0.5em;
            text-decoration: none;
        }
        .fa-square-o {
            padding-right: 3px;
        }
    }

    &--name {
        margin-right: auto;
        padding-left: calc(0.625em);
    }

    &--name-edit {
        flex-grow: 1;
        margin-right: 1rem;
        &-textfield {
            flex-grow: 1;
        }
        &:not(:last-child) {
            margin-bottom: 0;
        }
    }

    &--actions {
        .is-loading {
            background: transparent !important;
        }
    }

    &--edit-button {
        margin-right: 1rem;
    }

    &.completed {
        color: #aaa;
        .todo--name {
            text-decoration: line-through;
        }
    }
}